libs/packages/

__pycache__/
*.py[cod]
*$py.class

*.log

venv/
env/
ENV/

dublicate/
warning_fragments/

*.sqlite3
*.db

.DS_Store
.idea/
.vscode/
*.swp
*~

credentials.ini
config.ini

*.mp4
*.mp3
*.wav
*.avi